{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "debug": true
      }
    ],
    "@babel/preset-typescript"
  ],
  "assumptions": {
    "noNewArrows": false
  }
}
