{
    "presets": [
        [
            "@babel/preset-env",
            {
                "spec": true,
                "modules": false,
                "debug": true
            }
        ],
        "@babel/preset-typescript"
    ]
}
