@use 'sass:color';
@use 'mixins';
@use 'vars';

@media (29001/26000 <= aspect-ratio <= 2/1) {
    .measure {
        width: mixins.adjust-unit(0.7px, compact-horizontal);
    }

    .logo {
        @include mixins.circle-hover(
            mixins.adjust-unit(15px, compact-horizontal)
        );

        border-radius: mixins.adjust-unit(4px, compact-horizontal);
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 0;
        width: mixins.adjust-unit(50px, compact-horizontal);

        .icon {
            width: mixins.adjust-unit(75px, compact-horizontal);
        }
    }

    .banner {
        display: none;
    }

    .main-pane,
    .extra-pane {
        height: mixins.adjust-unit(130px, compact-horizontal);
        margin: auto 0;
    }

    .main-pane {
        padding: mixins.adjust-unit(20px, compact-horizontal)
            mixins.adjust-unit(20px, compact-horizontal) 0;
    }

    .extra-pane {
        padding-left: mixins.adjust-unit(25px, compact-horizontal);
        padding-right: mixins.adjust-unit(20px, compact-horizontal);
        padding-top: mixins.adjust-unit(10px, compact-horizontal);
    }

    .more-btn,
    .back-btn {
        @include mixins.circle-hover(
            mixins.adjust-unit(12px, compact-horizontal)
        );

        left: mixins.adjust-unit(5px, compact-horizontal);
        top: mixins.adjust-unit(5px, compact-horizontal);
    }

    .volume {
        font-size: mixins.adjust-unit(12px, compact-horizontal);
        right: mixins.adjust-unit(10px, compact-horizontal);
        top: mixins.adjust-unit(8px, compact-horizontal);
    }

    .volume-waves {
        border-width: mixins.adjust-unit(1px, compact-horizontal);

        &::before,
        &::after {
            border-width: mixins.adjust-unit(1px, compact-horizontal);
        }

        &::before {
            left: mixins.adjust-unit(2px, compact-horizontal);
        }

        &::after {
            left: 2 * mixins.adjust-unit(2px, compact-horizontal) +
                mixins.adjust-unit(1px, compact-horizontal);
        }
    }

    .volume-range-wrapper {
        height: mixins.adjust-unit(8px, compact-horizontal);
        right: 0;
        top: mixins.adjust-unit(10px, compact-horizontal);
        transform: rotate(-90deg);
        transform-origin: bottom right;
        vertical-align: top;
        width: mixins.adjust-unit(60px, compact-horizontal);
    }

    .volume-range {
        cursor: ns-resize;

        &:focus + div > .volume-range-thumb {
            box-shadow: 0 0 0 mixins.adjust-unit(2px, compact-horizontal)
                color.adjust(vars.$main-color, $alpha: -0.75);

            .night & {
                box-shadow: 0 0 0 mixins.adjust-unit(2px, compact-horizontal)
                    color.adjust(vars.$night-main-color, $alpha: -0.75);
            }
        }
    }

    .volume-range-thumb {
        border-width: mixins.adjust-unit(1px, compact-horizontal);
        height: mixins.adjust-unit(10px, compact-horizontal);
        width: mixins.adjust-unit(10px, compact-horizontal);
    }

    .play-btn {
        @include mixins.circle-hover(
            mixins.adjust-unit(20px, compact-horizontal)
        );

        bottom: mixins.adjust-unit(5px, compact-horizontal);
        right: mixins.adjust-unit(5px, compact-horizontal);

        &-paused {
            margin-left: mixins.adjust-unit(2px, compact-horizontal);
        }

        &-buffering {
            &::before,
            &::after {
                border-width: mixins.adjust-unit(4px, compact-horizontal);
            }
        }
    }

    .stopped-message {
        left: mixins.adjust-unit(20px, compact-horizontal);
        right: mixins.adjust-unit(40px, compact-horizontal);
    }

    .program-metadata {
        display: flex;
        flex-flow: column;
    }

    .program-name-wrapper {
        font-size: mixins.adjust-unit(17px, compact-horizontal);
    }

    .program-who {
        @include mixins.pseudo-padding;

        font-size: mixins.adjust-unit(10px, compact-horizontal);
    }

    .program-description {
        font-size: mixins.adjust-unit(10px, compact-horizontal);
        padding-top: mixins.adjust-unit(3px, compact-horizontal);

        &::after {
            display: none;
        }
    }

    .song-metadata {
        .song-current {
            bottom: mixins.adjust-unit(15px, compact-horizontal);
            font-size: mixins.adjust-unit(11px, compact-horizontal);
            left: mixins.adjust-unit(55px, compact-horizontal);
            right: mixins.adjust-unit(75px, compact-horizontal);

            .mimic {
                margin-left: mixins.adjust-unit(20px, compact-horizontal);
            }

            &.left-overflow {
                mask-image: linear-gradient(
                    to right,
                    transparent,
                    vars.$bg-color mixins.adjust-unit(15px, compact-horizontal)
                );
            }

            &.right-overflow {
                mask-image: linear-gradient(
                    to left,
                    transparent,
                    vars.$bg-color mixins.adjust-unit(15px, compact-horizontal)
                );

                &.left-overflow {
                    mask-image: linear-gradient(
                            to left,
                            transparent,
                            vars.$bg-color
                                mixins.adjust-unit(15px, compact-horizontal),
                            vars.$bg-color 51%,
                            transparent 51%
                        ),
                        linear-gradient(
                            to right,
                            transparent,
                            vars.$bg-color
                                mixins.adjust-unit(15px, compact-horizontal),
                            vars.$bg-color 51%,
                            transparent 51%
                        );
                }
            }
        }
    }

    .song-progress-wrapper {
        border-radius: mixins.adjust-unit(1.5px, compact-horizontal);
        bottom: mixins.adjust-unit(32px, compact-horizontal);
        height: mixins.adjust-unit(4px, compact-horizontal);
        left: mixins.adjust-unit(20px, compact-horizontal);
        width: calc(100% - #{mixins.adjust-unit(60px, compact-horizontal)});

        .song-progress-fill {
            border-radius: mixins.adjust-unit(1.5px, compact-horizontal);
        }
    }

    .song-current-time,
    .song-total-time {
        bottom: mixins.adjust-unit(20px, compact-horizontal);
        font-size: mixins.adjust-unit(10px, compact-horizontal);
    }

    .song-current-time {
        left: mixins.adjust-unit(20px, compact-horizontal);
    }

    .song-total-time {
        right: mixins.adjust-unit(40px, compact-horizontal);
    }

    .tabs-list-paneless {
        margin-top: mixins.adjust-unit(-10px, compact-horizontal);
    }

    .tabs-tab-wrapper {
        flex-basis: 50%;
    }

    .tabs-tab {
        @include mixins.circle-hover(
            mixins.adjust-unit(12px, compact-horizontal)
        );

        border-radius: mixins.adjust-unit(6px, compact-horizontal);
        height: mixins.adjust-unit(30px, compact-horizontal);
    }
}
